# Experiment-1 (Pandas Review)

Problem Statement:-Create a pandas dataframe with worker data, impute values and calculate the average of a feature.

Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import random

Define the number of workers (i.e., records) to generate data for. Then, generate two lists, one for hrs_worked and another for salary, of those workers.

In [2]:
numberOfworkers = 500

listOfhrsworked = [random.randint(130, 200) for i in range(numberOfworkers)]
listOfsalary = [random.randint(50, 150) for i in range(numberOfworkers)]

Arrange the generated data into a pandas dataframe.

In [3]:
df = pd.DataFrame(data = {
        'Worker ID': list(np.arange(1, numberOfworkers + 1)),
        'number of hrs worked (hrs)': listOfhrsworked,
        'salary (k)': listOfsalary 
    }   
)

df.set_index('Worker ID')

           number of hrs worked (hrs)  salary (k)
Worker ID
1                                 151          66
2                                 169          56
3                                 143          54
4                                 164          63
5                                 200          68
...                               ...         ...
496                               158          61
497                               198          93
498                               151          59
499                               191         144
500                               130         146

[500 rows x 2 columns]

Describing statistics of the dataframe of the workers.

In [4]:
df.describe()

        Worker ID  number of hrs worked (hrs)  salary (k)
count  500.000000                  500.000000  500.000000
mean   250.500000                  165.138000   97.962000
std    144.481833                   20.398312   29.048721
min      1.000000                  130.000000   50.000000
25%    125.750000                  147.000000   73.000000
50%    250.500000                  166.500000   98.000000
75%    375.250000                  182.250000  122.250000
max    500.000000                  200.000000  150.000000


Calculate the averages of hrs worked and salary of all workers and print them out

In [5]:
meanhrsworked = df['number of hrs worked (hrs)'].mean()
meansalary = df['salary (k)'].mean()

print('The average hrs worked in hrs is:', meanhrsworked, 'hrs')
print('The average salary in k is:', meansalary, 'k')

The average hrs worked in hrs is: 165.138 hrs
The average salary in k is: 97.962 k