# Experiment - 8 POS Tagging

In [23]:
import pandas as pd
import spacy
nlp = spacy.load("en_core_web_sm")

In [24]:
df=pd.read_csv("elon_musk_tweets.csv")

In [25]:
df.head()

,id,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,retweets,favorites,is_retweet
0,1544379368478212100,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240855,115,13503,True,2022-07-05 17:55:09+00:00,@BillyM2k I find the gold toe sock ‚Äì inevitabl...,NaN,Twitter for iPhone,335,6542,False
1,1544377493263720450,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240806,115,13503,True,2022-07-05 17:47:42+00:00,"Sock Con, the conference for socks",NaN,Twitter for iPhone,1451,30753,False
2,1544377130590552064,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240806,115,13503,True,2022-07-05 17:46:15+00:00,Always something new for the magazine cover an...,NaN,Twitter for iPhone,1284,28610,False
3,1544375575724400645,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240806,115,13503,True,2022-07-05 17:40:05+00:00,@ExplainThisBob This guy gets it,NaN,Twitter for iPhone,131,3640,False
4,1544375148605853699,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240806,115,13503,True,2022-07-05 17:38:23+00:00,Sock tech is so advanced that you can get pret...,NaN,Twitter for iPhone,1191,23790,False

In [26]:
tweets = df["text"]
tweets

0       @BillyM2k I find the gold toe sock ‚Äì inevitabl...
1                      Sock Con, the conference for socks
2       Always something new for the magazine cover an...
3                        @ExplainThisBob This guy gets it
4       Sock tech is so advanced that you can get pret...
                              ...
3536    Check out my spicy üå∂Ô∏è üî• OnlyGANs!! https://t.c...
3537                @derek_j_morris @pmarca Major problem
3538                                        @EvaFoxU Nice
3539    @DavidSacks A Russia-China alliance is inevita...
3540                                 @PeterDiamandis Yeah
Name: text, Length: 3541, dtype: object

In [27]:
nlp = spacy.load("en_core_web_sm")

In [28]:
def pos(text):
    doc= nlp(text)
    return[[token, token.pos_] for token in doc]

In [29]:
t= tweets.apply(pos)

In [30]:
t.head()

0    [[@BillyM2k, VERB], [I, PRON], [find, VERB], [...
1    [[Sock, PROPN], [Con, PROPN], [,, PUNCT], [the...
2    [[Always, ADV], [something, PRON], [new, ADJ],...
3    [[@ExplainThisBob, ADV], [This, DET], [guy, NO...
4    [[Sock, PROPN], [tech, NOUN], [is, AUX], [so, ...
Name: text, dtype: object